@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Capriola', sans-serif;
  background: #100E1D;
  color: #ffffff;
  min-height: 100vh;
}
