.forecastCard {
  background: #1E213A;
  padding: 1rem 0.25rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecastDay {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.forecastConditions {
  font-size: 0.875rem;
  text-align: center;
  margin: 1rem 0;
}

.forecastTemps {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.tempHigh {
  color: #ffffff;
}

.tempLow {
  opacity: 0.7;
}

/* Responsive Design */
@media (max-width: 1340px) {
  .forecastDay {
    font-size: 1rem;  
  }

  .forecastConditions {
    font-size: 0.75rem;
  }
}